@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full overflow-x-hidden scroll-auto;
  }

  body {
    @apply min-h-screen overflow-x-hidden;
  }
}

@layer components {
  .base-width {
    width: 1600px;
    max-width: auto;
    margin: 0 auto;
    background-color: red;
  }
  .animated-button {
    z-index: 1;
  }

  .animated-button::after {
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 600ms cubic-bezier(0, 0.7, 0.6, 1);
  }

  .animated-button:hover::after {
    transform: translateX(0);
  }

  .bankruptcy h2 {
    font-size: 24px;
  }
  .bankruptcy h3 {
    font-size: 24px;
    font-weight: 500;
  }
  .bankruptcy h4 {
    font-size: 20px;
    font-weight: 600;
  }

  .bankruptcy b {
    font-size: 14px;
  }
}
